<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <nav
                class="navbar navbar-expand-sm sticky-top nav justify-content-evenly nav-justify lower-head py-1 px-0 bg-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span><i class="fa-solid fa-bars text-light"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav container justify-content-between nav-justify navbar-nav me-auto">

                        <!------------------ First Item Drop-Down ---------------------------- -->

                        <li class="nav-item pt-2">
                            <a href="#" style="color: white;"><i class="fa-solid fa-user-plus"></i></a>
                        </li>

                        <li class="nav-item">
                            <a href="/" class="nav-link active" style="color: white;">Visit Site <i class="fa-solid fa-globe"></i></a>
                        </li>

                        <button type="button" class="btn"
                            style="background-color: white; border-radius: 4px;"><a style="color: black;text-decoration: none;" href="/logout">LogOut</a></button>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>