<div class="row">
    <div class="col-12 px-0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-light active"><i class="fa-solid fa-gauge-high me-2 py-2"></i>Dashboard</li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-plus me-2 py-2"></i><a class="text-light text-decoration-none" href="/upload-products">Add Products</a></li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-border-all me-2 py-2"></i><a class="text-light text-decoration-none" href="/view-products">View All Products</a></li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-list me-2 py-2"></i>Categories</li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-arrow-up-z-a me-2 py-2"></i>Orders</li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-star me-2 py-2"></i>Reviews</li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-arrow-up-z-a me-2 py-2"></i>Orders</li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-arrow-up-right-dots me-2 py-2"></i>Sales Report</li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-gear me-2 py-2"></i>Settings</li>
            <li class="list-group-item bg-dark text-light"><i class="fa-solid fa-gear me-2 py-2"></i><a class="text-light text-decoration-none" href="/view-registration">View Registrations</a></li>
        </ul>
    </div>
</div>